#retimer-audio_controls_container {
    margin: 0;
    padding: 0;
}

#retimer-controls {
    border: 1px solid #000000;
    display: inline-block;
    padding: 3px;
    margin: 3px;
}

#retimer-controls div {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}

#add-constraint {
    background-image: url("../icons/link.png");
}

#delete-constraints {
    background-image: url("../icons/trashLink.png");
}

/*Images have extra padding added if inline-block display
need to adjust the vertical-align property to fix*/
.retimer_controls input[type=image]{
    vertical-align: middle;
}

.retiming_button{
    height: 40px;
}

#constraints {
    top: 0;
    left: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid black;
    margin-top: 5px;
    padding: 0;
};
