#timeline {
    position: relative;
    height: 400px;
    width: 1000px;
    border: 1px solid black;
    overflow-x: scroll;
    /*disable text selection*/
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
    margin: 0;
    margin-left: 10px;
    padding: 0px 25px; /*TODO: this padding should match plot margins so that the playhead only appears on top of the plot */
}

.audio-tracks-container {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
}

#gradations {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; /* dummy initial width, will be changed to match lecture length */
}

#gradations-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#playhead {
    position: relative;
    height: 100%;
    width: 10px;
    background-color: blue;
    cursor: move;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 1000;
}

.audio-track {
    left: 0;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.audio-segment {
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-top: 7px; 
    float: left;
    box-shadow: 0;
    transition: box-shadow .15s;
    height: 100px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.focus {
    border-style: outset;
    border-width: 4px;
    background-color: #DDEFFF;
}

.segment-drag {    
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10px;
    border-style: ridge;
    border-width: 2px;
    border-color: #2E9AFE;
    background-color: #2E9AFE;
    cursor: move;
    margin: 0;
    padding: 0;
}

.segment-crop-start {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
}

.segment-crop-end {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
}

.wavesurfer-container {
    position: absolute;
    height: 90px;
    border-width: 0;
    pointer-events:none;
    margin: 0;
    padding: 0;
}

.audio-segment wave {
    position: absolute;
    left:0;
    right: 0;
    border-style: none;
    pointer-events:none;
    margin: 0;
    padding: 0;
}

wave canvas {
    border-style: none;
    margin: 0;
    padding: 0;
}

.audio-segment.ui-draggable-dragging {
    /*box-shadow: 0 0 3px #515151;*/
    box-shadow: 8px 10px 24px 0px rgba(0,0,0,0.75);
    margin: 0;
    padding: 0;
}

#audio-controls {
    margin-left: 10px;
}

.audio-button{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    /*  -webkit-border-radius: 28;
    -moz-border-radius: 28;*/
    /*border-radius: 28px;*/
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    /*padding: 10px 20px 10px 20px;*/
    text-decoration: none;
    /*position: relative;*/
    text-align: center;
    vertical-align: center;
    height: 40px;
}
.audio-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.center-buttons{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}